* {
    primary: #dbc2ac;
    primary-fixed: #f8dec7;
    primary-fixed-dim: #dbc2ac;
    on-primary: #3d2d1e;
    on-primary-fixed: #26190b;
    on-primary-fixed-variant: #554433;
    primary-container: #826e5b;
    on-primary-container: #ffffff;
    secondary: #d2c4b9;
    secondary-fixed: #eee0d5;
    secondary-fixed-dim: #d2c4b9;
    on-secondary: #372f27;
    on-secondary-fixed: #211a14;
    on-secondary-fixed-variant: #4e453d;
    secondary-container: #51473f;
    on-secondary-container: #f0e1d6;
    tertiary: #bac9d0;
    tertiary-fixed: #d6e5ed;
    tertiary-fixed-dim: #bac9d0;
    on-tertiary: #253238;
    on-tertiary-fixed: #101d23;
    on-tertiary-fixed-variant: #3b494f;
    tertiary-container: #66747b;
    on-tertiary-container: #ffffff;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #151311;
    on-surface: #e7e1de;
    on-surface-variant: #d1c4ba;
    outline: #9a8f86;
    outline-variant: #4e453e;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #e7e1de;
    inverse-on-surface: #32302e;
    inverse-primary: #6e5b49;
    surface-dim: #151311;
    surface-bright: #3b3937;
    surface-container-lowest: #100e0c;
    surface-container-low: #1d1b1a;
    surface-container: #211f1e;
    surface-container-high: #2c2928;
    surface-container-highest: #373432;
}