* {
    border: #a7c080;
    background: rgba(39, 46, 51, 0.8);
    backgroundA: rgba(33, 39, 43, 0.3);
    backgroundD: rgba(27, 33, 37, 0.3);
    textcolor: #d3c6aa;
    accent1: #cc241d;
    accent2: #98971a;
    accent3: #d79921;
    accent4: #458588;
    selection: #a7c080;
    selectionborder: #a7c080;
    myhigh: bold #dbbc7f;
    high: #dbbc7f;
    searchcolor: #d3c6aa99;
    powermenuselect: #dbbc7f;
    nul: #00000000;
}
