@define-color border #a7c080;
@define-color background rgba(39, 46, 51, 1);
@define-color backgroundD rgba(33, 39, 43, 1);
@define-color text #d3c6aa;
@define-color selection #a7c080;
@define-color textselect #a7c080;
@define-color buttonselect #dbbc7f;
@define-color buttonselecttext rgba(39, 46, 51, 1);
@define-color button rgba(31, 38, 43, 1);
