@import "../colors/waybarcolors.css";

* {
    font-family: JetBrainsMono Nerd Font Propo;
    font-size: 1.32375rem; 
    font-weight: bold;
    border: none;
    outline: none;
    box-shadow: none;
    text-shadow: none;
}

window#waybar {
    background: @background;
    padding: 0.25rem; 
    background-image: none;
    box-shadow: none;
    border: 0 solid @border;
    border-radius: 0;
}

#custom-System {
    background-color: @backgroundD;
    font-size: 1.32375rem; 
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    color: @text;
    border: 0 solid @border;
    border-radius: 0;
    transition: 0.3s all ease;
}

#custom-System:hover { color: @textselect; }

#clock {
    background: @backgroundD;
    font-size: 1.32375rem;
    font-weight: bold;
    border-radius: 0;
    padding: 0.5rem;
    color: @text;
    border: 0 solid @border;
    transition: 0.3s all ease;
}

#clock:hover { color: @textselect; }

#tray {
    border-radius: 1.32375rem; 
    padding: 0 0.625rem; 
    background-color: transparent;
    color: @text;
    border: 0 solid @border;
    transition: 0.3s all ease;
}

#tray menu, menu {
    background-color: @backgroundD;
    color: @text;
    border-radius: 0;
    padding: 0;
    border: 0 solid @border;
}

#tray menu menuitem:hover { background-color: @selection; color: @background; }

#workspaces {
    margin: 0;
    padding: 0;
    border-radius: 0;
    background-color: @backgroundD;
    border: 0 solid @border;
    transition: all 0.3s ease;
}

#workspaces button {
    box-shadow: none;
    text-shadow: none; 
    margin: 0.625rem 0.1875rem; 
    padding: 0 0.5rem; 
    background-color: transparent;
    border-radius: 1rem; 
    color: @text; 
    transition: all 0.3s ease;
}

#workspaces button.active { color: @selection; }
#workspaces button:hover { color: @buttonselect; }

#network, #bluetooth, #pulseaudio, #traywer {
    border-radius: 0;
    padding: 0 0.5rem;
    background-color: @backgroundD;
    color: @text;
    border: 0 solid @border;
    transition: 0.3s all ease;
}

#network:hover, #bluetooth:hover, #pulseaudio:hover, #traywer:hover { color: @textselect; }

#mpris, #custom-theme, #custom-bar, #custom-notifications {
    font-size: 1.32375rem;
    padding: 0.5rem;
    border-radius: 0.125rem;
    color: @text;
    background-color: @backgroundD;
    transition: 0.3s all ease;
}

#custom-powermenu {
    font-size: 1.32375rem;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    border-radius: 0.125rem;
    color: @text;
    background-color: @backgroundD;
    transition: 0.3s all ease;
}
#mpris:hover, #custom-theme:hover, #custom-bar:hover, #custom-powermenu:hover, #custom-notifications:hover {
    color: @textselect;
}

#custom-pacman, #temperature {
    font-size: 1.32375rem;
    padding: 0.5rem;
    border-radius: 0.125rem;
    color: @text;
    background-color: @backgroundA;
    transition: 0.3s all ease;
}
#custom-pacman:hover, #temperature:hover { color: @textselect }
tooltip {
    background-color: @background;
    padding: 0.3125rem;
    color: @text;
    border-radius: 0;
    border: 0 solid @border;
}

tooltip label {
    padding: 0.3125rem;
    border-radius: 1.25rem; 
    font-weight: bold;
    color: @text;
}

#idle_inhibitor {
    background-color: @backgroundD;
    font-size: 1.32375rem; 
    padding: 0 0.5rem;
    color: @text;
    border-radius: 0;
    transition: 0.3s all ease;
}

#idle_inhibitor:hover { color: @textselect; }

#custom-right_div.1,
#custom-right_div.2,
#custom-left_div.1,
#custom-left_div.2 {
    font-size: 2.25rem;
    color: @backgroundD;
}

#custom-left_div.3,
#custom-left_inv.1,
#custom-right_div.3 {
    font-size: 2.25rem;
    color: @backgroundA;
}

#custom-right_inv.1 {
    font-size: 2.25rem;
    color: @backgroundA;
}
