* {
    border: rgba(48, 64, 60, 1);
    background: rgba(24, 32, 30, 1);
    backgroundA: rgba(18, 26, 24, 1);
    backgroundD: rgba(12, 20, 18, 1);
    textcolor: #8ea4a0;
    accent1: #cc241d;
    accent2: #98971a;
    accent3: #d79921;
    accent4: #458588;
    selection: #0c9780;
    selectionborder: #0c9780;
    myhigh: bold #3be381;
    high: #3be381;
    searchcolor: #8ea4a099;
    powermenuselect: #3be381;
    nul: #00000000;
}
