@define-color border #0c9780;
@define-color background rgba(24, 32, 30, 0.8);
@define-color backgroundA rgba(18, 26, 24, 0.3);
@define-color backgroundD rgba(12, 20, 18, 0.3);
@define-color text #8ea4a0;
@define-color selection #0c9780;
@define-color textselect #0c9780;
@define-color buttonselect #3be381;
@define-color buttonselecttext rgba(24, 32, 30, 1);
@define-color button rgba(47, 42, 39, 0);
