@define-color border #c0bfbc;
@define-color backgroundDrgba(252, 252, 252, 1);
@define-color backgroundA rgba(230, 230, 230, 1);
@define-color background rgba(208, 208, 208, 1);
@define-color text #504e55;
@define-color selection #868482;
@define-color textselect #868482;
@define-color buttonselect #c0bfbc;
@define-color buttonselecttext rgba(252, 252, 252, 1);
@define-color button rgba(47, 42, 39, 0);
