@define-color border #868482;
@define-color background rgba(252, 252, 252, 0.8);
@define-color backgroundA rgba(230, 230, 230, 0.3);
@define-color backgroundD rgba(208, 208, 208, 0.3);
@define-color text #504e55;
@define-color selection #868482;
@define-color textselect #868482;
@define-color buttonselect #c0bfbc;
@define-color buttonselecttext rgba(252, 252, 252, 1);
@define-color button rgba(47, 42, 39, 0);
