* {
    border: #acaba8;
    background: rgba(29, 29, 29, 1);
    backgroundA: rgba(22, 22, 22, 1);
    backgroundD: rgba(15, 15, 15, 1);
    textcolor: #deddda;
    accent1: #cc241d;
    accent2: #98971a;
    accent3: #d79921;
    accent4: #458588;
    selection: #acaba8;
    selectionborder: #acaba8;
    myhigh: bold #4f4f4f;
    high: #4f4f4f;
    searchcolor: #deddda99;
    powermenuselect: #4f4f4f;
    nul: #00000000;
}
