@define-color border #4f4f4f;
@define-color background rgba(29, 29, 29, 0.8);
@define-color backgroundD rgba(22, 22, 22, 0.33);
@define-color text #deddda;
@define-color selection #acaba8;
@define-color textselect #acaba8;
@define-color buttonselect #4f4f4f;
@define-color buttonselecttext rgba(29, 29, 29, 0.8);
@define-color button rgba(47, 42, 39, 0);
