@define-color border #acaba8;
@define-color background rgba(29, 29, 29, 1);
@define-color backgroundA rgba(22, 22, 22, 1);
@define-color backgroundD rgba(15, 15, 15, 1);
@define-color text #deddda;
@define-color selection #acaba8;
@define-color textselect #acaba8;
@define-color buttonselect #4f4f4f;
@define-color buttonselecttext rgba(29, 29, 29, 1);
@define-color button rgba(47, 42, 39, 1);
