@import "../colors/swayncradius.css";
@import "../colors/waybarcolors.css";

* {
  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 1.5rem;
  text-shadow: none;
  color: @text;
  box-shadow: 0rem 0rem 0rem 0rem transparent;
  border: none;
  outline: none;
}

.notification {
  background-color: @backgroundA;
  padding: 1.25rem;
  outline: var(--outline);
  border: none;
  color: @text;
  font-size: 0.625rem;
}
.notification button {
  background-color: @text;
}
.notification button:hover {
  background-color: @text;
}
.image {
  border-radius: 0rem;
  margin-right: 1.25rem;
}
.close-button {
  background-color: @text;
  border-radius: var(--border-radius);
}
.close-button:hover {
  background-color: @text;
  color: @backgroundA;
}
.close-button image {
  color: @backgroundA;
}
.notification-content {
  background-color: transparent;
  padding: 0rem;
  color: @text;
}
.notification-default-action:hover {
  background-color: transparent;
  color: @textselect;  
}
.notification:hover {
  background-color: @backgroundA;
  color: @textselect;
}
.notification-group button {
  background-color: @text;
  border-radius: var(--border-radius);
}
.notification-group button:hover {
  background-color: @text;
}
.notification button label,
.notification button label:hover,
.notification-group button label,
.notification-group button label:hover,
.notification-group button image {
  color: @backgroundA;
}
.control-center {
  border-radius: var(--border-radius);
  color: @text;
  background-color: @background;
  outline: var(--outline); 
}
.widget-title {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-top: 0.625rem;
  margin-bottom: 0.3125rem;
  color: @text;
  border-radius: var(--button-radius);
}
.widget-title label {
  font-size: 1.5625rem;
}
.widget-title>button {
  background-color: transparent;
  border: none;
}
.widget-title>button label {
  background-color: alpha(@text, 0.2);
  color: @text;
  border-radius: var(--button-radius);
  padding: 0.4rem 1.25rem 0.4rem 1.25rem;
  margin-right: -0.9375rem;
}
.widget-title>button label:hover {
  color: @text;
  background-color: alpha(@text, 0.3);
}
.control-center-list-placeholder {
  color: @text;
}
.widget-dnd {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-bottom: 0.3125rem;
  margin-top: 0.3125rem;
  background-color: transparent;
  color: @text;
  border-radius: var(--button-radius);
}
.widget-dnd label {
  color: @text;
}
.widget-dnd>switch {
  background: @backgroundA;
  border-radius: 1.25rem;
}
.widget-dnd>switch:checked {
  background: @textselect;
}
.widget-dnd>switch slider {
  background-color: @text;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 0.1875rem;
  padding-bottom: 0.1875rem;
  margin: -0.0625rem;
  border-radius: 1.25rem;
}
.widget-dnd>switch:checked slider {
  background-color: alpha(@backgroundA, 5);
}
scrollbar {
  background: transparent; 
  color: @text;
  border: none;
  outline: none;
  padding: 0.1875rem;
  margin: 0rem;
  border-radius: 1.25rem;
  min-width: 0rem;
  min-height: 0rem;
  opacity: 1;
  transition: background-color 200ms ease, opacity 200ms ease;
}
scrollbar slider {
  background: @text;
  border-radius: 1.25rem;
  margin: 0rem;
  padding: 0.1875rem;
  outline: none;
  border: none;
  min-width: 0rem;
  min-height: 0rem;
  opacity: 0.7;
  transition: background-color 200ms ease, opacity 200ms ease;
}
scrollbar trough {
  margin: 0rem;
  padding: 0rem;
  transition: background-color 200ms ease, opacity 200ms ease;
}
scrollbar:hover {
  background: transparent;
  color: @text;
  border: none;
  outline: none;
  padding: 0.1875rem;
  margin: 0rem;
  border-radius: 1.25rem;
  min-width: 0rem;
  min-height: 0rem;
  opacity: 1;
}
scrollbar slider:hover {
  background: @text;
  border-radius: 1.25rem;
  margin: 0rem;
  padding: 0.1875rem;
  border: none;
  outline: none;
  min-width: 0rem;
  min-height: 0rem;
  opacity: 0.7;
}
scrollbar trough:hover {
  margin: 0rem;
  padding: 0rem;
}
.notification-group {
  border-radius: var(--border-radius);
  background-color: transparent;
  border: none;
  color: @text;
  padding: 0rem;
}
.mpris-overlay {
  background-color: alpha(@backgroundA, 0.5);
}
.widget-mpris {
  border-radius: var(--border-radius);
  color: @text;
  background: @backgroundA;
  padding: 0.625rem;
  margin: 1.25rem;
  margin-bottom: 0.625rem;
  border-radius: var(--button-radius);
}
.widget-mpris button { 
  background-color: alpha(@text, 0.2);
  transition: all 0.3s ease;
}
.widget-mpris button:hover {
  background-color: alpha(@text, 0.3);
}
.widget-mpris>box>button {
  background-color: transparent;
  border-radius: var(--button-radius);
  border: 0.125rem solid transparent;
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem;
  margin-left: 0rem;
  margin-right: 0rem;
}
.widget-mpris>box>button:hover {
  border: 0.125rem solid transparent;
  background-color: alpha(@text, 0.3);
} 
.widget-mpris-player {
  border-radius: var(--border-radius);
  background: transparent; 
  border: none;
} 
.widget-mpris-title {
  color: @text;
}
.widget-mpris-subtitle {
  color: @text;
}
.widget-buttons-grid {
  padding: 0.625rem;
  margin: 0.625rem 1.25rem 0.625rem 1.25rem;
  border-radius: var(--button-radius);
  background: @backgroundA;
}
.widget-buttons-grid:hover {
  padding: 0.625rem;
  margin: 0.625rem 1.25rem 0.625rem 1.25rem;
  border-radius: var(--button-radius);
  background: @backgroundA;
}
.widget-buttons-grid>flowbox>flowboxchild>button {
  margin: 0rem;
  padding: 1.25rem 2.7954rem;
  background: alpha(@text, 0.2);
  border-radius: var(--button-radius);
}
.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background: alpha(@text, 0.3);
  margin: 0rem;
  padding: 1.25rem 2.7954rem;
}
.widget-buttons-gird>flowbox>flowboxchild:hover,
.widget-buttons-grid>flowbox>flowboxchild {
	background: transparent;
}
.widget-volume {
  margin: 0.3125rem 0.9375rem 0.3125rem 1.25rem;
  background-color: transparent;
}
.widget-volume slider {
  background-color: @text;
}
.widget-volume label {
  background-color: transparent;
  color: @text;
  font-size: 1.875rem;
  margin-right: 0.4375rem;
}
.widget-volume trough {
  background-color: alpha(@text, 0.3);
}
.widget-volume trough highlight {
  background-color: @textselect;
}
