@define-color border rgba(80, 80, 80, 1);
@define-color background rgba(40, 40, 40, 1);
@define-color backgroundA rgba(32, 32, 32, 1);
@define-color backgroundD rgba(24, 24, 24, 1);
@define-color text #ebdbb2;
@define-color selection #98971A;
@define-color textselect #98971A;
@define-color buttonselect #D79921;
@define-color buttonselecttext rgba(40, 40, 40, 1);
@define-color button rgba(32, 32, 32, 1);
