@import "../colors/waybarcolors.css";       
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMono Nerd Font Propo;
    font-size: 20px;   
    font-weight: bold;
    border: none;
    outline: none;
    box-shadow: none;
    text-shadow: none;
}
window#waybar {
 background: @background;
 padding: 5px;
 background-image: none;
 box-shadow: none;
 border: 0px solid @border;
 border-radius: 0px;
}
#custom-System {
 background-color: rgba( 0,0,0,0 );
 font-size: 23px;
 padding-left: 8px;
 margin-left: 8px;
 padding-right: 8px;
 border-radius: 20px;
 color: @text;
 border: 0px solid @border;
 transition: 0.3s all ease;
}
#custom-System:hover {
 border-radius: 20px;
 color: @textselect;
}
#clock {
 background: rgba( 0,0,0,0 );
 font-size: 20px;
 font-weight: bold;
 border-radius: 20px;
 padding-right: 8px;
 padding-left: 8px; 
 color: @text;
 border: 0px solid @border;
 transition: 0.3s all ease;
}
#clock:hover {
 border-radius: 20px;
 color: @textselect;
}
#tray {
 border-radius: 20px;
 padding-left: 0px;
 padding-right: 10px;
 background-color: transparent;
 color: @text;
 border: 0px solid @border;
 transition: 0.3s all ease;
}
#tray menu, menu {
 background-color: @background;
 color: @text;
 border: 0px solid @border;
 border-radius: 0px;
 padding: 5px;
}
#tray menu menuitem {
 background-color: transparent;
 color: @text;
}
#tray menu menuitem:hover {
 background-color: transparent;
 color: @buttonselect;
}
#traywer {
 background-color: transparent;
 padding-left: 8px;
 padding-right: 8px;
 border-radius: 20px;
 color: @text;
 border: 0px solid @border;
 transition: 0.3s all ease;
}
#traywer:hover {
 color: @textselect;
}
#workspaces button.persistent label,
#workspaces button.active label {
 font-size: 20px;
}
#workspaces {
 margin: 0px;
 padding-left: 1px;
 padding-right: 1px;
 border-radius: 10px;
 background-color: rgba( 0,0,0,0 );
 border: 0px solid @border;
 transition: all 0.3s ease;
}
#workspaces button:hover {
 box-shadow: none;
 text-shadow: none;
 min-width: 0px;
 margin-top: 10px;
 margin-bottom: 10px;
 margin-left: 3px;
 margin-right: 3px;
 border: 0px;
 background: transparent;
 border-radius: 2px;
 padding-top: 0px;
 padding-bottom: 0px;
 padding-right: 12px;
 padding-left: 12px;
 color: @selection;
 transition: all 0.3s ease;
}
#workspaces:hover {
 margin: 0px;
 border-radius: 20px;
}
#workspaces button {
 box-shadow: none;
 text-shadow: none; 
 margin-top: 10px;
 margin-bottom: 10px;
 margin-left: 3px;
 margin-right: 3px;
 border: 0px;
 min-width: 0px;
 padding-top: 0px;
 padding-bottom: 0px;
 padding-right: 12px;
 padding-left: 12px;
 background-color: transparent;
 border-radius: 2px;
 color: @text; 
 transition: all 0.3s ease;
}
#workspaces button.empty {
 color: alpha(@text, 0.5);
}
#workspaces button.empty:hover {
 color: alpha(@selection, 0.5);
}
#workspaces button.active:hover {
 color: @background;
}
#workspaces button.active{
 margin-top: 10px;
 margin-bottom: 10px;
 margin-left: 3px;
 margin-right: 3px;
 background-color: @buttonselect;
 color: @background;
 padding-right: 30px;
 padding-left: 30px;
 border: 0px;
 border-radius: 2px;
 transition: all 0.3s ease;
}
#network {
 border-radius: 20px;
 padding-right: 8px;
 padding-left: 8px;
 background-color: rgba( 0,0,0,0 );
 color: @text;
 border: 0px solid @border;
 transition: 0.3s all ease;
}
#network:hover {
 border-radius: 20px;
 color: @textselect;
}
#bluetooth {
 border-radius: 20px;
 font-size: 23px;
 padding-right: 8px;
 padding-left: 8px;
 background-color: rgba( 0,0,0,0 );
 color: @text;
 border: 0px solid @border;
 transition: 0.3s all ease;
}
#bluetooth:hover {
 border-radius: 20px;
 color: @textselect;
}
#pulseaudio {
 background: transparent;
 border-radius: 20px;
 padding-right: 8px;
 padding-left: 4px;
 font-size: 23px;
 color: @text;
 border: 0px solid @background;
 transition: 0.3s all ease;
}
#pulseaudio:hover {
 border-radius: 20px;
 color: @textselect;
}
#pulseaudio-slider {
 background: transparent;
 border-radius: 20px;
 padding-right: 14px;
 padding-left: 14px;
 margin-top: 2px;
 color: @text;
 border: 0px solid @background;
}
#pulseaudio-slider slider {
 background: @text;
 min-height: 0px;
 min-width: 0px;
 margin: -6px;
 box-shadow: none;
 border: 0px solid @background;
}
#pulseaudio-slider trough {
 background: alpha(@text, 0.3);
 min-width: 70px;
 min-height: 4px;
 box-shadow: none;
 border-radius: 20px;
 border: 0px solid @background;
}
#pulseaudio-slider highlight {
 background: @textselect;
 border-radius: 20px;
 margin: 0px;
 box-shadow: none;
 border: 0px solid @border;
 color: @textselect;
}
#volume {
 background: transparent;
 border-radius: 20px;
 transition: 0.3s all ease;
}
#mpris {
 background:  rgba( 0,0,0,0 );
 font-size: 20px;
 font-weight: bold;
 border-radius: 20px;
 padding-left: 10px;
 padding-right: 10px;
 color: @text;
 border: 0px solid @border;
 transition: 0.3s all ease;
}
#mpris:hover {
 border-radius: 20px;
 color: @textselect;
}
#custom-powermenu {
 border-radius: 20px;
 padding: 10px;
 margin-right: 8px;
 padding-right: 8px;
 padding-left: 8px;
 background-color: rgba( 0,0,0,0 );
 color: @text;
 border: 0px solid @border;
 transition: 0.3s all ease;
}
#custom-powermenu:hover {
 border-radius: 20px;
 color: @textselect;
}
#custom-theme {
 background-color: rgba( 0,0,0,0 );
 font-size: 23px;
 padding-left: 8px;
 padding-right: 8px;
 border-radius: 20px;
 color: @text;
 border: 0px solid @border;
 transition: 0.3s all ease;
}
#custom-bar {
 background-color: rgba( 0,0,0,0 );
 font-size: 23px;
 padding-left: 8px;
 padding-right: 8px;
 border-radius: 20px;
 color: @text;
 border: 0px solid @border;
 transition: 0.3s all ease;
}
#custom-theme:hover {
 border-radius: 20px;
 color: @textselect;
}
#custom-bar:hover {
 border-radius: 20px;
 color: @textselect;
}
#custom-notifications {
 background-color: rgba( 0,0,0,0 );
 font-size: 23px;
 padding-left: 8px;
 padding-right: 8px;
 border-radius: 20px;
 color: @text;
 border: 0px solid @border; 
 transition: 0.3s all ease;
}
#custom-notifications:hover {
 color: @textselect;
 border-radius: 20px;
}
tooltip {
 background-color: @background;
 padding: 5px; 
 color: @text;
 border-radius: 0px;
 border: 0px solid @border;
}
tooltip label {
 padding: 5px;
 border-radius: 20px;
 font-weight: bold;
 color: @text;
 text-shadow: none;
}
#idle_inhibitor {
 background-color: rgba( 0,0,0,0 );
 font-size: 23px;
 padding-left: 8px;
 padding-right: 8px;
 border-radius: 20px;
 color: @text;
 border: 0px solid @border; 
 transition: 0.3s all ease;
}
#idle_inhibitor:hover {
 color: @textselect;
 border-radius: 20px;
}
