@define-color border rgba(70, 66, 108, 1);
@define-color background rgba(35, 33, 54, 1);
@define-color backgroundA rgba(29, 27, 45, 1);
@define-color backgroundD rgba(23, 21, 36, 1);
@define-color text #e0def4;
@define-color selection #eb6f92;
@define-color textselect #eb6f92;
@define-color buttonselect #c4a7e7;
@define-color buttonselecttext rgba(35, 33, 54, 1);
@define-color button rgba(27, 25, 46, 1);
