* {
    border: rgba(126, 121, 100, 1);
    background: rgba(251, 241, 199, 1);
    backgroundA: rgba(235, 219, 178, 1);
    backgroundD: rgba(221, 198, 157, 1);
    textcolor: #3c3836;
    accent1: #cc241d;
    accent2: #98971a;
    accent3: #d79921;
    accent4: #458588;
    selection: #587C87;
    selectionborder: #587C87;
    myhigh: bold #B8595C;
    high: #B8595C;
    searchcolor: #3c383699;
    powermenuselect: #B8595C;
    nul: #00000000;
}
