@define-color border #587C87;
@define-color background rgba(251, 241, 199, 1);
@define-color backgroundA rgba(235, 219, 178, 1);
@define-color backgroundD rgba(221, 198, 157, 1);
@define-color text #3c3836;
@define-color selection #587C87;
@define-color textselect #587C87;
@define-color buttonselect #B8595C;
@define-color buttonselecttext rgba(251, 241, 199, 1);
@define-color button rgba(243, 233, 191, 1);
