@import "../colors/waybarcolors.css";
* {
    font-family: JetBrainsMono Nerd Font Propo;
    font-size: 1.32375rem; 
    font-weight: bold;
    border: none;
    outline: none;
    box-shadow: none;
    text-shadow: none;
}
window#waybar {
    background: @background;
    background-image: none;
    box-shadow: none;
    border: 0 solid @border;
    border-radius: 0;
}
#custom-System {
    background-color: @backgroundA;
    font-size: 1.32375rem; 
    padding: 0.5rem 0.75rem;
    color: @text;
    border: 0 solid @border;
    border-radius: 0;
    transition: 0.3s all ease;
    margin: 0.5rem;
}
#custom-System:hover { color: @textselect; }
#clock {
    background: @backgroundA;
    font-size: 1.32375rem;
    font-weight: bold;
    border-radius: 0;
    padding: 0.5rem 0.75rem;
    color: @text;
    border: 0 solid @border;
    transition: 0.3s all ease;
    margin: 0.5rem;
    margin-top: 0rem;
}
#clock:hover { color: @textselect; }
#tray {
    border-radius: 1.32375rem; 
    padding: 0.5rem 0.75rem;
    background-color: transparent;
    color: @text;
    border: 0 solid @border;
    transition: 0.3s all ease;
}
#tray menu, menu {
    background-color: @backgroundA;
    color: @text;
    border-radius: 0rem;
    padding: 0;
    border: 0 solid @border;
}
#tray menu menuitem:hover:last-child { border-bottom-left-radius: 0rem; border-bottom-right-radius: 0rem }
#tray menu menuitem:hover:first-child { border-top-left-radius: 0rem; border-top-right-radius: 0rem }
#tray menu menuitem:hover { background-color: @selection; color: @background; }
#workspaces {
    margin: 0;
    padding: 0.5rem 0.75rem;
    border-radius: 0;
    background-color: @backgroundA;
    border: 0 solid @border;
    transition: all 0.3s ease;
    margin: 0.5rem;
}
#workspaces button {
    box-shadow: none;
    text-shadow: none; 
    margin: 0.625rem 0.1875rem; 
    padding: 0rem 0rem;
    background-color: transparent; 
    color: @backgroundA; 
    border-radius: 0rem;
    transition: all 0.3s ease;
}
#workspaces button label {
    background: @backgroundD;
    color: @backgroundD;
    border-radius: 0rem;
    padding: 0rem;
    margin: -0.4rem 0rem;
    transition: all 0.3s ease;
}
#workspaces button.active label { 
    background: @selection;
    color: @selection;
    border-radius: 0rem;
    padding: 2rem 0rem;
    transition: all 0.3s ease; 
}
#workspaces button.active.empty label,
#workspaces button.active label { color: @selection }
#workspaces button.active.empty label:hover,
#workspaces button.active:hover label { color: @selection; background: @selection }
#workspaces button:hover label,
#workspaces button.empty:hover label { background: @buttonselect; color: @buttonselect }

#workspaces button.active.empty,
#workspaces button.active { color: @backgroundA; background: transparent }
#workspaces button.active.empty:hover,
#workspaces button.active:hover { color: @backgroundA; background: transparent }
#workspaces button:hover { color: @backgroundA; background: transparent }
#workspaces button.empty { color: @backgroundA;  background: transparent }
#workspaces button.empty:hover { color: @backgroundA; background: transparent }

#network, #bluetooth, #pulseaudio, #traywer {
    border-radius: 0;
    padding: 0.5rem 0.75rem;
    background-color: @backgroundA;
    color: @text;
    border: 0 solid @border;
    transition: 0.3s all ease;
    margin: 0.5rem;
    margin-top: 0rem;
}
#pulseaudio { margin: 0rem }
#traywer { padding: 0.5rem 0rem }
#pulseaudio-slider {
    background: @backgroundA; 
    border-radius: 0; 
    padding: 0.5rem 0rem;
    padding-top: 1.25rem;
    color: @text;
    border: 0 solid @background;
}
#pulseaudio-slider slider {
    background: @text;
    min-height: 0;
    min-width: 0;
    margin: -0.4rem;
    box-shadow: none;
    border: 0 solid @background;
}
#pulseaudio-slider trough {
    background: alpha(@text, 0.3); 
    min-height: 4.375rem; 
    min-width: 0.25rem; 
    box-shadow: none;
    border-radius: 1.25rem; 
    border: 0 solid @background;
}

#pulseaudio-slider highlight {
    background: @textselect;
    border-radius: 1.25rem; 
    margin: 0;
    box-shadow: none;
    border: 0 solid @border;
    color: @textselect;
}

#network:hover, #bluetooth:hover, #pulseaudio:hover, #traywer:hover { color: @textselect; }
#mpris, #custom-theme, #custom-bar, #custom-notifications {
    font-size: 1.32375rem;
    padding: 0.5rem 0.75rem;
    border-radius: 0.125rem;
    color: @text;
    background-color: @backgroundA;
    transition: 0.3s all ease;
    margin: 0.5rem;
    margin-top: 0rem;
}
#custom-powermenu {
    font-size: 1.32375rem;
    padding: 0.5rem 0.75rem;
    border-radius: 0.125rem;
    color: @text;
    background-color: @backgroundA;
    transition: 0.3s all ease;
    margin: 0.5rem;
    margin-top: 0rem;
}
#mpris:hover, #custom-theme:hover, #custom-bar:hover, #custom-powermenu:hover, #custom-notifications:hover {
    color: @textselect;
}
#custom-pacman, #temperature {
    font-size: 1.32375rem;
    padding: 0.5rem 0.75rem;
    border-radius: 0.125rem;
    color: @text;
    background-color: @backgroundA;
    transition: 0.3s all ease;
}
#temperature { margin-left: 0; padding-left: 0.5rem; }
#custom-pacman:hover, #temperature:hover { color: @textselect }
tooltip {
    background-color: @backgroundA;
    padding: 0.5rem 0.75rem;
    color: @text;
    border-radius: 0;
    border: 0 solid @border;
}
tooltip label {
    padding: 0.3125rem;
    border-radius: 1.25rem; 
    font-weight: bold;
    color: @text;
}
#idle_inhibitor {
    background-color: @backgroundA;
    font-size: 1.32375rem; 
    padding: 0.5rem 0.75rem;
    color: @text;
    border-radius: 0;
    transition: 0.3s all ease;
    margin: 0.5rem;
    margin-top: 0rem;
}
#idle_inhibitor:hover { color: @textselect; }
#custom-right_div.1,
#custom-right_div.2,
#custom-left_div.1,
#custom-left_div.2 {
    font-size: 2.25rem;
    color: @backgroundA;
}
#custom-left_div.4,
#custom-right_div.4,
#custom-left_div.3,
#custom-right_div.3 {
    font-size: 2.25rem;
    color: @backgroundA;
}
#custom-right_div.1,
#custom-left_div.2,
#custom-right_div.2,
#custom-left_div.1 {
    background-color: @backgroundA;  
}
#custom-notifications, #custom-notifications:hover, #bluetooth, #bluetooth:hover, #idle_inhibitor, #idle_inhibitor:hover { font-size: 1.475rem }
#custom-System { font-size: 1.5rem }
#volume { margin: 0.5rem; }