* {
    border: #B4BEFE;
    background: rgba(30, 30, 46, 1);
    backgroundA: rgba(22, 22, 38, 1);
    backgroundD: rgba(18, 18, 34, 1);
    textcolor: #CDD6F4;
    accent1: #cc241d;
    accent2: #98971a;
    accent3: #d79921;
    accent4: #458588;
    selection: #CBA6F7;
    selectionborder: #CBA6F7;
    myhigh: bold #F38BA8;
    high: #F38BA8;
    searchcolor: #CDD6F499;
    powermenuselect: #F38BA8;
    nul: #00000000;
}
