@import "../colors/waybarcolors.css";
* {
    font-family: JetBrainsMono Nerd Font Propo;
    font-size: 1.32375rem; 
    font-weight: bold;
    border: none;
    outline: none;
    box-shadow: none;
    text-shadow: none;
}
window#waybar {
    background: none;
    padding: 0.25rem; 
    background-image: none;
    box-shadow: none;
    border: 0 solid @border;
    border-radius: 0;
}
#custom-System {
    background-color: @background;
    font-size: 1.32375rem; 
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    color: @text;
    border: 0 solid @border;
    border-radius: 1.25rem;
    transition: 0.3s all ease;
}
#custom-System:hover { color: @textselect; }
#clock {
    background: @background;
    font-size: 1.32375rem;
    font-weight: bold;
    border-radius: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    color: @text;
    border: 0 solid @border;
    transition: 0.3s all ease;
}
#clock:hover { color: @textselect; }
#tray {
    border-radius: 1.25rem; 
    padding-left: 0rem;
    padding-right: 0.8rem;
    background-color: transparent;
    color: @text;
    border: 0 solid @border;
    transition: 0.3s all ease;
}
#tray menu, menu {
    background-color: @background;
    color: @text;
    border-radius: 0.9375rem;
    padding: 0;
    border: 0 solid @border;
}
#tray menu menuitem:hover:last-child { border-bottom-left-radius: 0.9375rem; border-bottom-right-radius: 0.9375rem }
#tray menu menuitem:hover:first-child { border-top-left-radius: 0.9375rem; border-top-right-radius: 0.9375rem }
#tray menu menuitem:hover { background-color: @selection; color: @background; }
#workspaces {
    margin: 0;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 1.25rem;
    background-color: @background;
    border: 0 solid @border;
    transition: all 0.3s ease;
}
#workspaces button {
    box-shadow: none;
    text-shadow: none; 
    margin: 0.625rem 0.1875rem; 
    padding: 0 0.7rem; 
    background: @backgroundA;
    border-radius: 0.8rem; 
    color: transparent; 
    transition: all 0.3s ease;
}
#workspaces button.active.empty,
#workspaces button.active { color: transparent;  background: @selection; padding: 0 2rem }
#workspaces button.active.empty:hover,
#workspaces button.active:hover { color: transparent;  background: @selection }
#workspaces button:hover { color: transparent;  background: @buttonselect }
#workspaces button.empty { color: transparent;  background: @backgroundA}
#workspaces button.empty:hover { color: transparent ; background: @buttonselect }

#network, #bluetooth, #pulseaudio, #traywer {
    border-radius: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: @background;
    color: @text;
    border: 0 solid @border;
    transition: 0.3s all ease;
}
#bluetooth { padding-left: 1.4rem; padding-right: 1.4rem }
#pulseaudio { background: none; padding: 0 0 0 0.35rem; }
#volume {
    background: @background;
    border-radius: 1.25rem;
    padding-left: 1rem;
    padding-right: 1.25rem;
}
#pulseaudio-slider {
    background: transparent; 
    border-radius: 1.25rem; 
    padding: 0 1rem 0 0.35rem; 
    color: @text;
    border: 0 solid @background; 
}
#pulseaudio-slider slider {
    background: @text;
    min-height: 0;
    min-width: 0;
    margin: -0.4rem;
    box-shadow: none;
    border: 0 solid @background;
}
#pulseaudio-slider trough {
    background: alpha(@text, 0.3); 
    min-width: 4.375rem; 
    min-height: 0.25rem; 
    box-shadow: none;
    border-radius: 1.25rem; 
    border: 0 solid @background;
}

#pulseaudio-slider highlight {
    background: @textselect;
    border-radius: 1.25rem; 
    margin: 0;
    box-shadow: none;
    border: 0 solid @border;
    color: @textselect;
}

#network:hover, #bluetooth:hover, #pulseaudio:hover, #traywer:hover { color: @textselect; }
#mpris, #custom-theme, #custom-bar, #custom-notifications {
    font-size: 1.32375rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-radius: 1.25rem;
    color: @text;
    background-color: @background;
    transition: 0.3s all ease;
}
#custom-powermenu {
    font-size: 1.32375rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-radius: 1.25rem;
    color: @text;
    background-color: @background;
    transition: 0.3s all ease;
}
#mpris:hover, #custom-theme:hover, #custom-bar:hover, #custom-powermenu:hover, #custom-notifications:hover {
    color: @textselect;
}
#custom-pacman, #temperature {
    font-size: 1.32375rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-radius: 1.25rem;
    color: @text;
    background-color: @background;
    transition: 0.3s all ease;
}
#custom-pacman:hover, #temperature:hover { color: @textselect }
tooltip {
    background-color: @background;
    padding: 0.3125rem;
    color: @text;
    border-radius: 0.9375rem;
    border: 0 solid @border;
}
tooltip label {
    padding: 0.3125rem;
    border-radius: 0.9375rem; 
    font-weight: bold;
    color: @text;
}
#idle_inhibitor {
    background-color: @background;
    font-size: 1.32375rem; 
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    color: @text;
    border-radius: 1.25rem;
    transition: 0.3s all ease;
}
#idle_inhibitor:hover { color: @textselect; }
#custom-notifications, #custom-notifications:hover, #bluetooth, #bluetooth:hover, #idle_inhibitor, #idle_inhibitor:hover { font-size: 1.475rem }
