[Desktop Entry]
Type=Application

Name=osu!
Exec=/home/elias/.osu/osu.AppImage
Icon=/home/elias/.osu/osu.png

Comment=Free, Online Rhythm Game.

Categories=Game
Keywords=osu;OSU;Osu;osu!;OSU!;Osu!