@import "../colors/waybarcolors.css";

window {
  background: @background;
  border-radius: 0px;
  box-shadow: none;
  text-shadow: none;
  border: 0px solid @border;
  outline: none;  
}
* {
  background: none;
  background-color: transparent;
  color: @text;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 18px;
  box-shadow: none;
  text-shadow: none;
    border-style: none;
    border-width: 0;
    outline: none;  
}

#box {
  /* Define attributes of the box surrounding icons here */
  padding: 7px;
  margin: 5px;
      border-style: none;
    border-width: 0;
    outline: none;  
  box-shadow: none;
  text-shadow: none;
}
#active {
   border-bottom: solid 0px @selection;
    border-style: none;
    border-width: 0;
    outline: none;  
	box-shadow: none;
   text-shadow: none;
}

button image:hover,
button image {
	background: transparent;
    border-style: none;
    border-width: 0;
    outline: none;  
	box-shadow: none;
	text-shadow: none;
	color: @text;
}

button {
  border: 2px solid transparent;
	padding: 10px;
	margin-left: 4px;
	margin-right: 4px;
	color: @text;
	border-radius: 2px;
	background-color: @backgroundD;
	transition: all 0.3s ease;
  	box-shadow: none;
	text-shadow: none;
	
}

button:hover {
	background-color: @backgroundD;
	border-radius: 2px;
	color: inherit;
  border: 2px solid @selection;
	box-shadow: none;
	text-shadow: none;
}

button:focus {
	box-shadow: none;
	text-shadow: none;
	border-style: none;
    border-width: 0;
    outline: none;  
	transition: all 0.3s ease;
}


tooltip {
 background-color: @background;
 padding: 5px; 
 color: @text;
 border-radius: 2px;
 border: 0px solid @border;
}
tooltip label {
 padding: 5px;
 border-radius: 2px;
 font-weight: bold;
 color: @text;
 text-shadow: none;
}
menu, menu {
 background-color: @backgroundD;
 color: @text;
 border: 0px solid @border;
 border-radius: 2px;
}
menu menuitem {
 background-color: transparent;
 border-radius: 2px;
}
menu menuitem:hover {
 background-color: alpha(@selection, 0.5);
 border-radius: 2px;
}
menu menuitem:last-child {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
menu menuitem:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
menu menuitem label {
  color: @text;
}
menu menuitem:hover label {
  color: @text;
}

menu menu menuitem label {
  color: @text; 
}

menu menu menuitem:hover label {
  color: @text;
}
