* {
    border: #7AA2F700;
    background: rgba(26, 27, 38, 1);
    backgroundA: rgba(19, 20, 31, 1);
    backgroundD: rgba(15, 16, 27, 1);
    textcolor: #c0caf5;
    accent1: #cc241d;
    accent2: #98971a;
    accent3: #d79921;
    accent4: #458588;
    selection: #7AA2F7;
    selectionborder: #7AA2F7;
    myhigh: bold #E0AF68;
    high: #E0AF68;
    searchcolor: #c0caf599;
    powermenuselect: #E0AF68;
    nul: #00000000;
}
