@define-color border #719cd6;
@define-color background rgba(25, 35, 48, 1);
@define-color backgroundD rgba(18, 28, 41, 1);
@define-color text #cdcecf;
@define-color selection #719cd6;
@define-color textselect #719cd6;
@define-color buttonselect #f4a261;
@define-color buttonselecttext rgba(25, 35, 48, 1);
@define-color button rgba(12, 22, 35, 0.3);
