@define-color border #B3ADA3;
@define-color background rgba( 51, 51, 51, 0.8);
@define-color backgroundD rgba(42, 42, 42, 0.33);
@define-color text #C2C2C2;
@define-color selection #B3ADA3;
@define-color textselect #B3ADA3;
@define-color buttonselect #B3ADA3;
@define-color buttonselecttext rgba( 51, 51, 51, 0.8);
@define-color button rgba(43, 43, 43, 0.3);
