@define-color border rgba( 102, 102, 102, 1);
@define-color background rgba( 51, 51, 51, 1);
@define-color backgroundA rgba(42, 42, 42, 1);
@define-color backgroundD rgba(33, 33, 33, 1);
@define-color text #C2C2C2;
@define-color selection #B3ADA3;
@define-color textselect #B3ADA3;
@define-color buttonselect #B3ADA3;
@define-color buttonselecttext rgba( 51, 51, 51, 1);
@define-color button rgba(43, 43, 43, 1);
