@define-color border #81a1c1;
@define-color background rgba(46, 52, 64, 1);
@define-color backgroundD rgba(41, 45, 54, 1);
@define-color text #d8dee9;
@define-color selection #81a1c1;
@define-color textselect #81a1c1;
@define-color buttonselect #a3b38c;
@define-color buttonselecttext rgba(46, 52, 64, 1);
@define-color button rgba(38, 44, 56, 1);
